<!-- <input type="text" [(ngModel)]="title">
<span class="type-success">{{title|reversepipe:"uppercase":1001}}</span><br><br><br> -->

<!-- <span class="type-success">{{title|reversepipe}}</span><br><br><br> -->
<!-- <br><br><br>
<div *ngIf="title|reversepipe ; else elseTemplate">
                <h4 class="text-danger" >{{title}}</h4><br><br><br>
        <button type="button" class="btn btn-danger" [disabled]="title|reversepipe">Danger</button><br><br><br>
    </div>
    <ng-template #elseTemplate>
                <h4 class="text-success">{{title}}</h4><br><br><br>
        <button type="button" class="btn btn-danger">Danger</button><br><br><br>
    </ng-template> -->
<!-- <h4>Reversed String:
        <span class="type-danger">{{title|reversepipe}}</span>
</h4> -->
<!-- <a href="about/Rashmi">Using Href</a>
<a routerLink="about/Rashmi/kumar/kkk">About</a>
<a routerLink="products">Products</a><br>
<hr>
some copyrights here
<hr>
<a [routerLink]="{footerOutlet:['path']}">show in footer outlet</a>
<a [routerLink]="['about/Rashmi']">Another type</a> -->
<!-- path is a keyword -->
<!-- <router-outlet id="footerOutlet"></router-outlet> -->
<!-- if we want two outer lets we can pass id -->
<!-- //router-outlet is a built in directive -->

<!-- <app-messagingapp></app-messagingapp> -->
<!-- <app-b></app-b> -->
<!-- <app-workwithhttp></app-workwithhttp> -->
<app-promises></app-promises>