<br>
<br>
<br>
<br>
<br>
<div class="container">
        <div class="row">
        <div class="col-sm-4">
                <img src="../../assets/travel.webp" class="img-thumbnail" height="300px" width="300px">
        </div>
          <div class="col-sm-4">
                <img src="../../assets/tenor (1).gif" class="img-thumbnail" height="300px" width="300px">
          </div>
          <div class="col-sm-4">
                <img src="../../assets/tenor (2).gif" class="img-responsive" height="300px" width="300px">
          </div>
        </div>
      </div>
      <br><hr><br>
<div class="container">
        <p style="font-size: 25px">
        <b>DBS Omega</b> is India’s largest online bus ticketing platform that has 
        transformed bus travel in the country by bringing ease and convenience to 
        millions of Indians who travel using buses. Founded in 2000, DBS Omega is part
        of India’s leading online travel company. By providing widest choice, superior 
        customer service, lowest prices and unmatched benefits, DBS omega has served 
        over 8 million customers. DBS omega has a global presence with operations across 
        Indonesia, Singapore, Malaysia, Taiwan apart from India.
        </p>
    </div>