<header style="background-color: black">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="100px" width="250px">
        </a> 
        <a class="navbar-brand ml-auto" name="pull">
            <img src="../../assets/call.png" title="Help" height="50px" width="50px">
        </a>
        <h5 style="float: right" style="color: red" title="Help">Toll Free Number : 040 425 1515</h5>
    </nav>
</header>
<section style="background-color:darkred">
    <nav class="navbar navbar-expand-md navbar-dark">
        <ul class="navbar-nav mr-auto">
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Retail</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Insurance</a>
                    <a class="dropdown-item" >Mutual Funds</a>
                    <a class="dropdown-item" >Debit Card</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">NRI</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Query/Assistance</a>
                    <a class="dropdown-item" >Deposits</a>
                    <a class="dropdown-item" >Loans</a>
                    <a class="dropdown-item" >Investments</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Loans</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Home Loans</a>
                    <a class="dropdown-item" >Educational Loans</a>
                    <a class="dropdown-item" >Gold Loans</a>
                    <a class="dropdown-item" >Vehicle Loans</a>
                    <a class="dropdown-item" >Personal Loans</a>
                    <a class="dropdown-item" >Mortagage Loans</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Credit Cards</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Travel Card</a>
                    <a class="dropdown-item" >Gift Card</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Accounts & Deposits</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Savings Account</a>
                    <a class="dropdown-item" >Current Account</a>
                    <a class="dropdown-item" >Term Deposits</a>
                    <a class="dropdown-item" >Government Schemes</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Online Services</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >Aadhar Linking</a>
                    <a class="dropdown-item" >Internet Banking</a>
                    <a class="dropdown-item" >Bill Pay</a>
                    <a class="dropdown-item" >Blocking ATM/Debit Cards</a>
                    <a class="dropdown-item" >Mobile Apps</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Payment System</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >National Electronic Funds Transfer</a>
                    <a class="dropdown-item" >Real Time Gross Settlement</a>
                    <a class="dropdown-item" >Bill Pay</a>
                    <a class="dropdown-item" >Blocking ATM/Debit Cards</a>
                    <a class="dropdown-item" >Mobile Apps</a>
                </div>
            </ul>
            <ul class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span style="color: white">Financial Inclusion</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" >National Electronic Funds Transfer</a>
                    <a class="dropdown-item" >Real Time Gross Settlement</a>
                    <a class="dropdown-item" >Electronic Clearing Service</a>
                </div>
            </ul>            
        </ul>
    </nav>
</section>
<div class="border border-danger rounded" name="blink">
    <b>DBS never asks for confidential information such as PIN or OTP from customers. 
 Any such call can be made only by a fraudster. Please do not share personal information.</b>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
        <li data-target="#demo" data-slide-to="7"></li>
        <li data-target="#demo" data-slide-to="8"></li>
    </ul>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../assets/FLW2019-2.jpg" title="Usage">
    </div>
    <div class="carousel-item">
        <img src="../../assets/FLW2019-1.jpg" title="Usage">
    </div>
    <div class="carousel-item">
        <img src="../../assets/3.jpg" title="Payments">
    </div>
    <div class="carousel-item">
        <img src="../../assets/banner2.jpg" title="Tips">
    </div> 
    <div class="carousel-item">
        <img src="../../assets/5.png" title="Digibank">
    </div>
    <div class="carousel-item">
        <img src="../../assets/1.jpg" title="Home Loans">
    </div>
    <div class="carousel-item">
        <img src="../../assets/banner4.jpg" title="Tips">
    </div>
    <div class="carousel-item">
        <img src="../../assets/securitypo.jpg" title="Online Services">
    </div>
    <div class="carousel-item">
        <img src="../../assets/Anti.jpg" title="Anti-Corruption">
    </div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
</a>    
</div>
<marquee class="rounded" behavior="scroll" direction="left" style="background-color: salmon">
      Please notify any unauthorised electronic transaction on 1800 209 4555 immediately. 
      Longer the time taken to notify, higher would be the risk of loss to you.
      In case your mobile is deactivated without your request or you get a call in this regard, 
      somebody may be trying to get a duplicate SIM/ steal your credentials like OTP (One time password), 
      confidential details for beneficiary registration etc. Please be cautious.  
</marquee>
<Footer style="background-color:darkred">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>About DBS</li>
            <li>Awards & Rewards</li>
            <li>Annual Report</li>
            <li>Careers</li>
            <li>Caution To Public</li>                          
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Citizen's Charter</li>
            <li>Complaint / Grievance</li>
            <li>Disclosures</li>
            <li>Events</li>
            <li>Minorities</li>
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Policies & Guidelines</li>
            <li>Banking forms</li>
            <li>Privacy Policy</li>
            <li>Service charges and fees</li>
            <li>Representative Offices</li>
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Retirees Corner</li>
            <li>RTI Act</li>
            <li>Suit Filed Cases Of Wilful Defaulters</li>
            <li>Tools</li>
            <li>Banking Facilities for Persons with &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Special Needs</li>
        </ul>
    </div>
</div>
</div>
<pre style="color: white;text-align: center"> Investor Relations | Bulletin | Unclaimed Deposit | DNCR | Miscellaneous | Holiday List | Photo Gallery | Webcast | Disclaimer | Locate Us | Contact Us</pre>
<div class="label-back-to-top" style="color: white">&nbsp;&nbsp;Back To Top</div>
</Footer>
<br>
<h6><pre style="text-align: center">Terms & Conditions | Privacy Policy | ©2019 DBS Bank India Limited                                                                                          Social media</pre></h6>