<header style="background-color: black">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="100px" width="250px">
        </a> 
        <a class="navbar-brand ml-auto" name="pull">
            <img src="../../assets/call.png" title="Help" height="50px" width="50px">
        </a>
        <h5 style="float: right" style="color: red" title="Help">Toll Free Number : 040 425 1515</h5>
    </nav>
</header>
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/login.png">
        </div>
        <div class="carousel-item">
            <img src="../../assets/login2.png">
        </div>
        <div class="carousel-item">
            <img src="../../assets/login3.png">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>    
</div>

