body{
    background-color: mistyrose;
    border: 3px solid blue
}
span{ 
    font-weight: bold;
    font-size: 150%;
    font-style: italic; 
}
h1{
    text-align: center;
    font-style: initial;
    text-decoration: underline wavy orangered;
}
p{ text-align: center;
    font-style: initial;
    }
h5{
    text-align: center;
    font-size: 150%;}
input
{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
background-color:cornsilk
}
a:hover,button:hover{
    background-color:aquamarine;
}
button
{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing:border-box;
background-color:limegreen;
}
